<button class="uk-button uk-button-primary" type="button" uk-toggle="target: #offcanvas-nav-primary">
	<i class="fas fa-bars"></i>
</button>

<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
	<div class="uk-offcanvas-bar uk-flex uk-flex-column">
		<button class="uk-offcanvas-close" type="button" uk-close></button>
		
        <ul class="uk-nav uk-nav-default uk-nav-center">
			<li><h3>{{app_name}}</h3></li>
			<li class="uk-nav-divider"></li>
			<li class="uk-margin-top"><a href="/todolist"><i class="fas fa-list-ul"></i> Minha lista</a></li>
			<li class="uk-margin-top"><a href="/history"><i class="fas fa-history"></i> Histórico</a></li>
			<li class="uk-margin-top"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
		</ul>

	</div>
</div>